<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="33"
    android:compileSdkVersionCodename="13"
    package="com.rong862.bear"
    platformBuildVersionCode="33"
    platformBuildVersionName="13"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 允许应用查看所有已安装的软件包。 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES" />
    <application
        android:label="逗音小能手"
        android:icon="@drawable/app"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:roundIcon="@drawable/app"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="逗音添加一些小功能..." />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:value="com.ss.android.ugc.aweme.lite" />
        <activity
            android:name="com.rong862.bear.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name="com.rong862.bear.MainActivityAlias"
            android:exported="true"
            android:targetActivity="com.rong862.bear.MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>