<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="32"
    android:compileSdkVersionCodename="12"
    package="xdc.sohoad.lanfeng"
    platformBuildVersionCode="32"
    platformBuildVersionName="12"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:roundIcon="@mipmap/ic_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="给你的抖音增加一些额外的功能" />
        <meta-data
            android:name="xposedminversion"
            android:value="89" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/scope_name" />
    </application>
</manifest>