<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="33"
    android:compileSdkVersionCodename="13"
    package="xdc.destiny"
    platformBuildVersionCode="33"
    platformBuildVersionName="13"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="xdc.destiny.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="xdc.destiny.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="给你的抖音增加一些额外的功能" />
        <meta-data
            android:name="xposedminversion"
            android:value="89" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/scope_name" />
    </application>
</manifest>